---
Language: Cpp
BasedOnStyle: LLVM

TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 150

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
    SortPriority: 1
    CaseSensitive: false

  - Regex: '^<Q[A-Z].*>'
    Priority: 2
    SortPriority: 2

  - Regex: '^<[a-z_]+\.h>'
    Priority: 3
    SortPriority: 3

  - Regex: '^<[a-z_]+>'
    Priority: 4
    SortPriority: 4

  - Regex: '^<.*>'
    Priority: 5
    SortPriority: 5

PointerAlignment: Left
ReferenceAlignment: Pointer

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

AlignConsecutiveAssignments: false
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false

BreakStringLiterals: false
AlwaysBreakBeforeMultilineStrings: false
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000

AlignAfterOpenBracket: AlwaysBreak